*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main-background-clr: rgb(6, 18, 31);
    --grid-border-clr: rgb(22, 47, 73);
    --ship-border-clr: #c4ce35;
    --box-hover-clr: rgb(32, 57, 83);
    --ship-clr: rgb(36, 60, 85);
    --secondary-clr: #cee61c;
    font-size: 16px;
}

body {
    height: 100vh;
    background-color: var(--main-background-clr);
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

h2 {
    color: var(--secondary-clr);
}

.start-game {
    background: var(--secondary-clr);
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: 150ms;
    font-weight: bold;
}

.start-game:hover {
    transform: scale(1.07);
}

.in-progress {
    cursor: not-allowed;
    background-color: gray;
    opacity: 0.5;
}

.gameboards {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 80%;
}

.captain-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    opacity: 0;
    position: relative;
    top: -10rem;
    background: var(--grid-border-clr);
    color: var(--secondary-clr);
    border-radius: 5px;
    flex-shrink: 0;
    width: 40rem;
    height: 12rem;
    /* aspect-ratio: 1/1; */
    /* transition: 100ms; */
    transition: 700ms ease;
}

.captain-avatars {
    display: flex;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
    gap: 20px;
}

.captain-container .captain {
    /* background: white; */
    border: solid 4px var(--ship-clr);
    color: var(--secondary-clr);
    /* border-radius: 30%; */
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 60px 40px;
}

.captain-container .captain:hover {
    transform: scale(1.04);
}
.captain-container.visible {
    opacity: 1;
    top: 0rem;
}
.grid.left,
.grid.right {
    display: flex;
    transform: scale(0);
    background: var(--main-background-clr);
    border-radius: 5px;
    flex-shrink: 0;
    width: 50%;
    height: 100%;
    aspect-ratio: 1/1;
    /* transition: 100ms; */
    transition: 700ms ease;

}

.grid.left.visible,
.grid.right.visible {
    transform: scale(1);
}
/* .grid.left.disabled,
.grid.right.disabled {
    pointer-events: none;
    cursor: not-allowed;
} */

.row {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
}

.box,
.outer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 1px rgb(56, 58, 70); */
    border: solid 1px var(--grid-border-clr);
    flex-grow: 1;
    /* cursor: pointer; */
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    transition: 150ms ease;
}

/* .box .disabled {
    pointer-events: none;
} */

.disabled {
    cursor: not-allowed;
    pointer-events: none;
}
.box.hover {
    background-color: var(--box-hover-clr);
}

.box.placed {
    background-color: var(--secondary-clr);
    border-radius: 8px;
    border: solid 1px var(--ship-border-clr);

}

.ship-square-horizontal {
    width: 100%;
    height: 60%;
    background: red;
}

.ship-square-vertical {
    width: 60%;
    height: 100%;
    background: red;
}
.outer-box {
    background-color: var(--main-background-clr);
    color: var(--secondary-clr);
    border: none;
    font-size: 0.6rem;
}

.attack-marker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;
    border: solid 3px var(--secondary-clr);
    border-radius: 50%;
}

.ship-hit-marker {
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 50%;
}

.player-ship-hit,
.computer-ship-hit {
    position: relative;
    border-radius: 0%;
    border: none;
}

.player-ship-hit::before,
.player-ship-hit::after,
.computer-ship-hit::before,
.computer-ship-hit::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.player-ship-hit::before,
.player-ship-hit::after {
    background-color: var(--main-background-clr);
}

.computer-ship-hit::before,
.computer-ship-hit::after {
    background-color: var(--secondary-clr);
}

.player-ship-hit::after,
.computer-ship-hit::after {
  transform: translateX(-50%) rotate(-45deg);
}

.transition-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: min-content;
    position: absolute;
    top: 0;
    transition: all 0.5s ease;
}

.ship-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-top: 10px;
    gap: 20px;
    width: 100%;
    height: 200px;
    background: var(--grid-border-clr);
}

.ship-sub-container {
    display: flex;
    gap: 25px;
}

.ship-element-container {
    position: relative;
    transition: 250ms ease-out;
}

.ship-element {
    background: var(--secondary-clr);
    border-radius: 8px;
    height: 30px;
    transition: 150ms;
}

.ship-element:hover {
    border: solid 1px var(--main-background-clr);
}


.ship-element.length-2 {
    width: 50px;
}

.ship-element.length-3 {
    width: 70px;

}

.ship-element.length-4 {
    width: 90px;

}

.ship-element.length-5 {
    width: 110px;

}

.ship-element.vertical {
    background: var(--secondary-clr);
    width: 30px;
}

.ship-element.length-2.vertical {
    height: 50px;
}

.ship-element.length-3.vertical {
    height: 70px;
}

.ship-element.length-4.vertical {
    height: 90px;
}

.ship-element.length-5.vertical {
    height: 110px;
}

.rotate-button {
    position: absolute;
    width: 50px;
    left: 50%;
    transform: translate(-50%, calc(100% + -55px));
    filter: invert(83%) sepia(82%) saturate(460%) hue-rotate(7deg) brightness(87%) contrast(108%);
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
}

.rotate-button.active {
    transform: rotate(90deg);
    transform-origin: top left;
}

/* .ship-element.length-2.rotate {
    transform: rotate(90deg);
}

.ship-element.length-3.rotate {
    transform: rotate(90deg);
}

.ship-element.length-4.rotate {
    transform: rotate(90deg);

}

.ship-element.length-5.rotate {
    transform: rotate(90deg);
} */

.invisible {
    scale: 0;
    /* opacity: 0; */
}

.hidden {
    opacity: 0;
}