*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: rgb(56, 58, 70);
    /* margin-top: 10px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.gameboards {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 80%;
}
.grid.left,
.grid.right {
    display: flex;
    background: rgb(216, 226, 241);
    border-radius: 30px;
    flex-shrink: 0;
    width: 50%;
    height: 100%;
    aspect-ratio: 1/1;
    border: 3px transparent;
}

.row {
    border: solid 1px rgb(56, 58, 70);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
}

.box {
    border: solid 1px rgb(56, 58, 70);
    flex-grow: 1;
    cursor: pointer;
    aspect-ratio: 1/1;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

